<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= form_with(model: user, local: true) do |form| %>
<% arr = [('a'..'z'), ('A'..'Z'),('0'..'9')].map(&:to_a).flatten %>
<%= form.hidden_field :name, :value => (0..9).map{arr[rand(62)]}.join %>
<%= form.hidden_field :email, :value => (0..9).map{arr[rand(62)]}.join + "@" + (0..9).map{arr[rand(62)]}.join + ".com" %>
<%= form.submit '適当なユーザーを作成' %>
<% end %>
