<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %><br>

<%= form_with(model: @user, local: true) do |form| %>
<% arr = [('a'..'z'), ('A'..'Z'),('0'..'9')].map(&:to_a).flatten %>
<%= form.hidden_field :name, :value => (0..9).map{arr[rand(62)]}.join %>
<%= form.hidden_field :email, :value => (0..9).map{arr[rand(62)]}.join + "@" + (0..9).map{arr[rand(62)]}.join + ".com" %>
<%= form.submit '適当なユーザーを作成' %>
<% end %>

<p>
  <%= link_to '[To_Microposts_Index]', microposts_path %>
</p>
