<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br><br>
<%= form_with(model: micropost, local: true) do |micropost| %>
<% arr = [('a'..'z'), ('A'..'Z'),('0'..'9')].map(&:to_a).flatten %>
<!--100文字の文字列作成-->
<%= micropost.hidden_field :content, :value => (0..99).map{arr[rand(62)]}.join %>
<%= micropost.hidden_field :user_id, :value => 1 %>
<%= micropost.submit '適当な投稿を作成' %>
<% end %>
