<p id="notice"><%= notice %></p>

<h1>Microposts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
        <td><%= link_to 'Show', micropost %></td>
        <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
        <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Micropost', new_micropost_path %>
<p>
  <%= link_to '[To_Users_Index]', users_path %>
</p>

<br><br>
<%= form_with(model: @micropost_new, local: true) do |micropost| %>
<% arr = [('a'..'z'), ('A'..'Z'),('0'..'9')].map(&:to_a).flatten %>
<!--100文字の文字列作成-->
<%= micropost.hidden_field :content, :value => (0..99).map{arr[rand(62)]}.join %>
<%= micropost.hidden_field :user_id, :value => (1 + rand(@member_count)) %>
<%= micropost.submit '適当な投稿を作成' %>
<% end %>
